.art-comment-no-data {
  color: var(--art-palette-heading);
  padding-top: 60px;
  text-align: center;
}

.art-comments-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  height: auto;
  padding: 5px 25px 5px 5px;
  background-color: var(--art-comments-list-even);
  color: var(--art-palette-heading);
  font-size: 1.1rem;
  font-weight: bold;
  overflow-anchor: none;
}

.art-comments-list:nth-child(odd) {
  background-color: var(--art-comments-list-odd);
}

.art-comments-delete-button {
  width: 30px;
  height: 20px;
  border: none;
  outline: none;
  background-color: var(--art-comments-send-button);
  color: var(--art-main-headings);
  font-size: 1rem;
  font-weight: bold;
}

.art-comment {
  background: none;
}

.art-comment-time {
  background: none;
  color: var(--art-palette-heading);
}
