.art-comments-label {
  display: block;
  color: var(--art-main-headings);
  font-weight: bold;
  padding-bottom: 5px;
  background-color: var(--art-card-detail-hightlight);
}

.art-comments-input {
  height: 30px;
  width: 400px;
  border: none;
  outline: none;
  background-color: var(--art-comments-input-bg);
  color: var(--art-main-headings);
  padding: 5px;
}

.art-comments-input::placeholder {
  color: var(--art-main-headings);
}

.art-comments-button {
  width: 60px;
  height: 30px;
  border: none;
  outline: none;
  background-color: var(--art-comments-send-button);
  color: var(--art-main-headings);
  text-align: center;
}
