.art-detail-container {
  position: relative;
  max-width: 500px;
  width: 500px;
  height: 400px;
}

.art-detail-image {
  max-width: 500px;
  width: 500px;
  height: 400px;
  object-fit: cover;
}

.art-detail-figure {
  position: relative;
  width: 100%;
}

.art-detail-figCaption,
.art-detail-paragraph-artist,
.art-detail-paragraph-year,
.art-detail-paragraph-genre {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 500px;
  height: 50px;
  background-color: var(--art-card-detail-hightlight);
  color: var(--art-main-headings);
  padding-top: 5px;
  bottom: 90px;
  font-weight: bold;
  font-size: 1.2rem;
}

.art-detail-paragraph-artist {
  padding-bottom: 15px;
  height: 30px;
  bottom: 60px;
  font-size: 1rem;
}

.art-detail-paragraph-year {
  padding-bottom: 15px;
  height: 30px;
  bottom: 30px;
  font-size: 1rem;
}

.art-detail-paragraph-genre {
  padding-bottom: 15px;
  height: 30px;
  bottom: 0;
  font-size: 1rem;
}

.art-return-button {
  border: none;
  outline: none;
  width: 500px;
  height: 50px;
  background-color: var(--art-detail-return-button);
  color: var(--art-main-headings);
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
}

.art-comments-list-container {
  width: 500px;
  height: 150px;
  overflow-y: auto;
  overflow-x: hidden;
}

.art-input-container {
  padding-left: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 500px;
  height: 100px;
  background-color: var(--art-card-detail-hightlight);
}
