.art-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  gap: 20px;
  background-color: #eef4ee;
}

.art-listItem {
  text-decoration: none;
  list-style-type: none;
}
