.art-image {
  position: relative;
}

.art-list {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 110px;
  gap: 10px;
}

.art-listItem {
  text-decoration: none;
  list-style-type: none;
}
