.art-list-container {
  margin-top: 40px;
  overflow-x: hidden;
}

.art-list {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 30px 0 140px 0;
  gap: 10px;
}

.art-listItem {
  text-decoration: none;
  list-style-type: none;
}
