.art-palette {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: 50px;
  margin-bottom: 30px;
}

.art-palette-heading {
  margin-top: 10px;
  color: var(--art-palette-heading);
  text-align: center;
}

.art-colour {
  width: 100px;
  height: 50px;
}
