@import url("../components/gallery/cards.css");
@import url("../components/gallery/card.css");
@import url("../components/header/header.css");
@import url("../components//footer-navigation/footer.css");
@import url("../components//details//details.css");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #eef4ee;
}

#__next {
  background-color: none;
  max-width: 500px;
  width: 500px;
}
