.art-navigation {
  position: absolute;
  width: 100%;
  height: 70px;
  background-color: var(--art-main-bg);
  bottom: 0;
  position: fixed;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.art-link {
  text-decoration: none;
  color: var(--art-main-headings);
  font-weight: bold;
  font-size: 1.6rem;
  width: 33.3%;
  height: 70px;
  background-color: var(--art-footer-nav-link);
  text-align: center;
  padding-top: 20px;
}

.art-link:nth-child(1) {
  margin-right: 5px;
}

.art-link:nth-child(2) {
  margin-right: 5px;
}
